body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to bottom, #1a1a1a, #000); 
    color: #fff;
}

header {
    padding: 3px;
    width: 100%;
    box-sizing: border-box;
    background-color: #008d4c;
    color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}


header p {
    font-size: 40px;
    position: absolute;
    right: 0;
    margin: 0px 20px 0 0;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

header a {
	font-size: 40px;
    position: absolute;
    left: 0;
    margin: 0 0 0 20px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 310px;
    margin: 0px 0;
}

h2 {
    font-size: 90px;
    margin: 0px 0;
}

p {
    font-size: 30px;
    margin: 0 0 10px 0;
}

footer {
    text-align: center;
    padding: 15px; 
    width: 100%;
    box-sizing: border-box;
    background-color: #008d4c;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

footer p {
    display: inline-block;
    margin: 0 100px;
	font-size: 20px;
}


video#video-footer {
	width: 100%;
    height: 100%;
}
